@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary: rgba(0, 0, 0, 0.789);
  --secondary: #faebd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary);
}

/* Navbar */
.nav {
  background: var(--primary);
  height: 80px;
  color: var(--secondary);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.5em;
  font-weight: 700;
}

.nav__burguer--img {
  width: 40px;
  height: 40px;
  color: var(--secondary);
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav__item {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 600;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav__item::after {
  content: "";
  display: block;
  background: var(--secondary);
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s ease-in-out;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__burguer--label,
.nav__input {
  display: none;
}

/* Main content */
.main {
  width: 100%;
  height: 140vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding: 0.8em 0 0.4em;
  color: var(--primary);
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8em 0 0.4em;
  color: var(--primary);
  margin-bottom: 2em;
}

.gallery {
  background-color: var(--primary);
  border: 2px solid #372d0d;
  margin: 0 auto 2em;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  grid-template-areas:
    "img1 img2 img3 img3"
    "img4 img2 img5 img6"
    "img4 img2 img5 img6"
    "img7 img7 img5 img8";
  gap: 0.8em;
}

.gallery__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.gallery__picture::before {
  content: "Texto prueba";
  color: var(--secondary);
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000003a;
  transform: scaleX(0);
  transition: transform 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.gallery__picture:hover::before {
  transform: scaleX(1);
}

.gallery__picture--g1 {
  grid-area: img1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g2 {
  grid-area: img2;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g3 {
  grid-area: img3;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g4 {
  grid-area: img4;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g5 {
  grid-area: img5;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g6 {
  grid-area: img6;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g7 {
  grid-area: img7;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__picture--g8 {
  grid-area: img8;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  /* Navbar */
  .nav__burguer--label {
    display: block;
  }

  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 60%;
    background: var(--primary);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 1;
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }

  .title {
    font-size: 2rem;
    padding: 0.8em 0 0.4em;
  }

  .subtitle {
    font-size: 1.2rem;
    padding: 0.8em 0 0.4em;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img1 img2"
      "img4 img2"
      "img4 img2"
      "img3 img3"
      "img5 img6"
      "img5 img6"
      "img5 img8"
      "img7 img7";
  }

  .gallery__picture::before {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  /* Main content */
  .title {
    font-size: 1.8rem;
    padding: 0.8em 0 0.4em;
  }

  .subtitle {
    font-size: 1rem;
    padding: 0.8em 0 0.1em;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "img1"
      "img2"
      "img2"
      "img3"
      "img4"
      "img5"
      "img5"
      "img6"
      "img7"
      "img8";
  }

  .gallery__picture::before {
    font-size: 1.1rem;
  }
}
